@font-face {
    font-family: 'SFCompactDisplayBold';
    src: url('../tipografia/SF-Compact-Display-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'SFCompactDisplayHeavy';
    src: url('../tipografia/SF-Compact-Display-Heavy.otf') format('opentype');
}

@font-face {
    font-family: 'SFCompactDisplayRegular';
    src: url('../tipografia/sf-compact-display-regular.otf') format('opentype');
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: black;
}

header {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
}

#titulo-cabecera {
    font-size: 30pt;
    text-decoration: none;
    color: black;
    font-family: SFCompactDisplayBold;
}

#main-titulo {
    color: #FB9EA8;
    font-family: SFCompactDisplayBold;
    font-size: 25pt;
}

/* DESKTOP */
@media (min-width: 1200px) {

    body {
        background-color: white;
    }

    #cabecera-derecha {
        width: 20%;
        background-color: black;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 20px;
    }

    #titulo-cabecera {
        color: white;
    }

    #cabecera-izquierda {
        width: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding: 20px 20px 20px 120px;
    }

    .enlace-menu {
        font-size: 17pt;
        text-decoration: none;
        color: black;
        font-family: SFCompactDisplayHeavy;
        margin: 20px;
    }

    #enlace-menu-selected {
        font-size: 17pt;
        text-decoration: none;
        color: #F7BECB;
        font-family: SFCompactDisplayHeavy;
        margin: 20px;
    }

    .enlace-menu:hover {
        color: #F7BECB;
    }

    #main-body {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        height: 100%;
    }

    #main-section-izquierda {
        width: 20%;
        min-height: 100%;
        background-color: black;
        padding: 20px;
    }

    #section-izquierda-data{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .main-section-titulo {
        width: 100%;
        color: white;
        font-family: SFCompactDisplayHeavy;
        font-size: 12pt;
        margin-top: 70px;
    }

    .main-section-data {
        width: 100%;
        color: white;
        font-family: SFCompactDisplayRegular;
        font-size: 10pt;
    }

    #main-section-derecha {
        width: 80%;
        padding: 70px;
    }

    #div-form-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .main-titulo-color {
        width: 100%;
        text-align: right;
        font-size: 70pt;
        color: #F7BECB;
        font-family: SFCompactDisplayBold;
        margin-right: 25px;
    }

    #form-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    #input-name {
        width: calc(50% - 20px);
        padding: 20px;
        margin: 10px;
        box-sizing: border-box;
        border: none;
        background-color: #FB9EA8;
        border-radius: 20px;
        color: white;
        font-family: SFCompactDisplayRegular;
    }

    #input-mail {
        width: calc(50% - 20px);
        padding: 20px;
        margin: 10px;
        box-sizing: border-box;
        border: none;
        background-color: #FB9EA8;
        border-radius: 20px;
        color: white;
        font-family: SFCompactDisplayRegular;
    }

    #input-asunto {
        width: 100%;
        padding: 20px;
        margin: 10px;
        border: none;
        background-color: #FB9EA8;
        border-radius: 20px;
        color: white;
        font-family: SFCompactDisplayRegular;
    }

    #textarea-mensaje {
        width: 100%;
        min-height: 300px;
        max-height: 300px;
        padding: 20px;
        margin: 10px;
        border: none;
        background-color: #FB9EA8;
        border-radius: 20px;
        color: white;
        font-family: SFCompactDisplayRegular;
    }

    #input-enviar {
        width: 100px;
        color: white;
        font-family: SFCompactDisplayHeavy;
        background-color: #FB9EA8;
        border: none;
        padding: 20px;
        margin: 10px;
        border-radius: 20px;
    }

    input::placeholder {
        color: white;
        font-family: SFCompactDisplayHeavy;
    }

    input:focus {
        outline: none;
    }

    textarea::placeholder {
        color: white;
        font-family: SFCompactDisplayHeavy;
    }

    textarea:focus {
        outline: none;
    }

}

/* "TABLET" */
@media (min-width: 450px) and (max-width: 1200px) {

    body {
        background-color: white;
    }

    #cabecera-derecha {
        width: 20%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 20px;
    }

    #cabecera-izquierda {
        width: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding: 20px;
    }

    .enlace-menu {
        font-size: 17pt;
        text-decoration: none;
        color: black;
        font-family: SFCompactDisplayHeavy;
        margin: 20px;
    }

    #enlace-menu-selected {
        font-size: 17pt;
        text-decoration: none;
        color: #F7BECB;
        font-family: SFCompactDisplayHeavy;
        margin: 20px;
    }

    .enlace-menu:hover {
        color: #F7BECB;
    }

    #main-body {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    #main-section-izquierda {
        display: none;
    }

    #main-section-derecha {
        width: 100%;
        padding: 100px;
    }

    #div-form-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .main-titulo-color {
        width: 100%;
        font-size: 25pt;
        color: #F7BECB;
        font-family: SFCompactDisplayBold;
    }

    #form-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    #input-name {
        width: calc(50% - 20px);
        padding: 20px;
        margin: 10px;
        box-sizing: border-box;
        border: none;
        background-color: #FB9EA8;
        border-radius: 20px;
        color: white;
        font-family: SFCompactDisplayRegular;
    }

    #input-mail {
        width: calc(50% - 20px);
        padding: 20px;
        margin: 10px;
        box-sizing: border-box;
        border: none;
        background-color: #FB9EA8;
        border-radius: 20px;
        color: white;
        font-family: SFCompactDisplayRegular;
    }

    #input-asunto {
        width: 100%;
        padding: 20px;
        margin: 10px;
        border: none;
        background-color: #FB9EA8;
        border-radius: 20px;
        color: white;
        font-family: SFCompactDisplayRegular;
    }

    #textarea-mensaje {
        width: 100%;
        min-height: 300px;
        max-height: 300px;
        padding: 20px;
        margin: 10px;
        border: none;
        background-color: #FB9EA8;
        border-radius: 20px;
        color: white;
        font-family: SFCompactDisplayRegular;
    }

    #input-enviar {
        width: 150px;
        color: white;
        font-family: SFCompactDisplayHeavy;
        background-color: #FB9EA8;
        border: none;
        padding: 10px;
        margin: 10px;
        border-radius: 20px;
    }

    input::placeholder {
        color: white;
        font-family: SFCompactDisplayHeavy;
    }

    input:focus {
        outline: none;
    }

    textarea::placeholder {
        color: white;
        font-family: SFCompactDisplayHeavy;
    }

    textarea:focus {
        outline: none;
    }

    footer {
        width: 100%;
        height: auto;
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #pie-pagina {
        width: 12%;
        min-height: 100px;
        max-height: 100px;
        background-image: url(../assets/Logo.png);
        background-size: contain;
        background-repeat: no-repeat;
    }


}

/* SMARTPHONE */
@media (max-width: 450px) {

    body {
        background-color: white;
    }

    header {
        flex-direction: column;
    }

    #cabecera-derecha {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #main-titulo {
        font-size: 22pt;
    }

    #cabecera-izquierda {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .enlace-menu {
        font-size: 10pt;
        width: auto;
        text-decoration: none;
        color: black;
        font-family: SFCompactDisplayHeavy;
        padding: 10px;
    }

    #enlace-menu-selected {
        font-size: 10pt;
        width: auto;
        text-decoration: none;
        color: #F7BECB;
        font-family: SFCompactDisplayHeavy;
        padding: 10px;
    }

    #main-body {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    #main-section-izquierda {
        width: 100%;
        background-color: black;
    }

    #section-izquierda-data{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 10px;
    }

    .main-section-titulo {
        width: 100%;
        color: white;
        font-family: SFCompactDisplayHeavy;
        font-size: 12pt;
    }

    .main-section-data {
        width: 100%;
        color: white;
        font-family: SFCompactDisplayRegular;
        font-size: 10pt;
    }

    #main-section-derecha {
        width: 100%;
    }

    #div-form-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* margin: 10px; */
    }

    .main-titulo-color {
        width: 100%;
        font-size: 20pt;
        text-align: center;
        color: #F7BECB;
        font-family: SFCompactDisplayBold;
    }

    #form-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    #input-name {
        width: calc(50% - 20px);
        padding: 20px;
        margin: 10px;
        box-sizing: border-box;
        border: none;
        background-color: #FB9EA8;
        border-radius: 20px;
        color: white;
        font-family: SFCompactDisplayRegular;
    }

    #input-mail {
        width: calc(50% - 20px);
        padding: 20px;
        margin: 10px;
        box-sizing: border-box;
        border: none;
        background-color: #FB9EA8;
        border-radius: 20px;
        color: white;
        font-family: SFCompactDisplayRegular;
    }

    #input-asunto {
        width: 100%;
        padding: 20px;
        margin: 10px;
        border: none;
        background-color: #FB9EA8;
        border-radius: 20px;
        color: white;
        font-family: SFCompactDisplayRegular;
    }

    #textarea-mensaje {
        width: 100%;
        min-height: 150px;
        max-height: 150px;
        padding: 20px;
        margin: 10px;
        border: none;
        background-color: #FB9EA8;
        border-radius: 20px;
        color: white;
        font-family: SFCompactDisplayRegular;
    }

    #input-enviar {
        width: 100px;
        color: white;
        font-family: SFCompactDisplayHeavy;
        background-color: #FB9EA8;
        border: none;
        padding: 20px;
        margin: 10px;
        border-radius: 20px;
    }

    input::placeholder {
        color: white;
        font-family: SFCompactDisplayHeavy;
    }

    input:focus {
        outline: none;
    }

    textarea::placeholder {
        color: white;
        font-family: SFCompactDisplayHeavy;
    }

    textarea:focus {
        outline: none;
    }

    footer {
        width: 100%;
        height: auto;
        background-color: black;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #pie-pagina {
        width: 12%;
        min-height: 100px;
        max-height: 100px;
        background-image: url(../assets/Logo.png);
        background-size: contain;
        background-repeat: no-repeat;
    }

}